* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: radial-gradient(#e4687c, #ffc3a0);
}
.wrap {
  margin-top: 250px;
  perspective: 1000px;
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  padding-top: 55px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  opacity: 1.5;
  background-color: #d64e4e;
  border: solid 1px #e4687c;
  border-radius: 5%;
  font: 40px verdana;
  text-align: center;
  transition: transform 0.2s ease-in;
}

.cube div:hover {
  background-color: brown;
}

.front {
  transform: translateZ(100px);
}
.back {
  transform: translateZ(-100px) rotateY(180deg);
}
.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
}
.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
}
.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
}
.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
}

.cube {
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.wrap:hover .front {
  transform: translateZ(200px);
}
.wrap:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}
.wrap:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}
.wrap:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}
.wrap:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}
.wrap:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}
