* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1d061a;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 320px;
  height: 400px;
  margin: 40px 30px;
  transition: 0.5s;
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  transition: 0.5s;
}
.box:hover:before,
.box:hover:after {
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 50px);
}
.box:nth-child(1)::before,
.box:nth-child(1)::after {
  background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.box:nth-child(2)::before,
.box:nth-child(2)::after {
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}
.box:nth-child(3)::before,
.box:nth-child(3)::after {
  background: linear-gradient(315deg, #ff0058, #b700ff);
}
.box span {
  display: block;
  position: absolute;
  top: 0;
  left: -50px;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}
.box span::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blue(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0.05);
}
.container .box:hover span::before {
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.box span::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 100%;
  height: 100%;
  border: 8px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blue(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0.05);
  animation-delay: -1s;
}
.container .box:hover span::after {
  bottom: -50px;
  right: 0;
  width: 100px;
  height: 100px;
  opacity: 1;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blue(10px);
  transition: 0.5s;
  color: #f5deb3;
}
a {
  text-decoration: none;

  line-height: 1.4em;
}

.container.box:hover .content {
  left: -25px;
}
.container .box:hover .content h2 {
  font-size: 2em;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.container .box:hover .content p {
  font-size: 2em;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.container .box:hover .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #f5deb3;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}
