* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  justify-self: center;
}
body {
  height: 100vw;
  width: 100vw;
  background-color: #edf1fd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-behavior: smooth;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  background-color: rgb(85, 104, 138);
  padding: 4px 10px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 700;
  width: fit-content;
}

button:hover {
  background-color: white;
  color: rgb(85, 104, 138);
  border: 1px solid black;
}

header {
  padding: 10px 0;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb (85, 104, 138);
  justify-content: space-around;
}

nav .logo {
  font-weight: 700;
  font-size: 25px;
  background-color: rgb(85, 104, 138);
  z-index: -1;
  border-radius: 20%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}

nav ul li:hover {
  text-decoration: underline;
  font-weight: 900;
}

.searchbox {
  display: flex;
  gap: 30px;
}

input {
  padding: 4px 10px;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-left-section {
  width: 60%;
  padding: 0 8%;
}

.hero-left-section h1 {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 16px;
}

.hero-left-section h1 span {
  color: rgb(85, 104, 138);
  font-weight: 700;
  background-color: #dfdfe0;
  padding: 0 15px;
}

.hero-left-section p {
  font-weight: 500;
  font-size: 20px;
}

.hero-left-section p span {
  font-size: 25px;
  font-weight: 700;
  color: rgb(85, 104, 138);
}

.hero-right-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
  gap: 30%;
}
.hero-right-section-btn {
  display: flex;
  align-items: center;
  gap: 5%;
}

.hero-right-section img {
  height: 70%;
  width: 70%;
  border-radius: 50%;
}

footer {
  font-weight: 600;
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
footer ul li a i:hover {
  font-size: 2rem;
  padding: 2px;
}
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 6.5rem;
  }
  body {
    height: 140vh;
  }
}
